################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/capitulo03/NumeraisRomanos/NumeraisRomanos/obj/Debug/netcoreapp3.1
/capitulo03/NumeraisRomanos/NumeraisRomanos/obj
/capitulo03/NumeraisRomanos/.vs/NumeraisRomanos/v16
/capitulo03/NumeraisRomanos/NumeraisRomanos/bin/Debug/netcoreapp3.1
