################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/capitulo03/NumeraisRomanos/NumeraisRomanos/obj/Debug/netcoreapp3.1
/capitulo03/NumeraisRomanos/NumeraisRomanos/obj
/capitulo03/NumeraisRomanos/.vs/NumeraisRomanos/v16
/capitulo03/NumeraisRomanos/NumeraisRomanos/bin/Debug/netcoreapp3.1
/capitulo03/NumeraisRomanos/NumeraisRomanosTest/bin/Debug/netcoreapp3.1
/capitulo03/NumeraisRomanos/NumeraisRomanosTest/obj
/capitulo03/NumeraisRomanos/.vs/NumeraisRomanos/DesignTimeBuild
/capitulo04/CalculoDeSalario/.vs/CalculoDeSalario/v16
/capitulo04/CalculoDeSalario/CalculoDeSalario/obj
/capitulo04/CalculoDeSalario/CalculoDeSalario/bin/Debug/netcoreapp3.1
/capitulo04/CalculoDeSalario/CalculoDeSalarioTest/bin/Debug/netcoreapp3.1
/capitulo04/CalculoDeSalario/CalculoDeSalarioTest/obj
/capitulo04/CalculoDeSalario/.vs/CalculoDeSalario/DesignTimeBuild
/capitulo05/LojaVirtual/.vs/LojaVirtual/v16
/capitulo05/LojaVirtual/LojaVirtual/obj
/capitulo05/LojaVirtual/LojaVirtual/bin/Debug/netcoreapp3.1
/capitulo05/LojaVirtual/LojaVirtualTest/obj/Debug/netcoreapp3.1
/capitulo05/LojaVirtual/LojaVirtualTest/obj
/capitulo05/LojaVirtual/LojaVirtualTest/bin/Debug/netcoreapp3.1
/capitulo05/LojaVirtual/.vs/LojaVirtual/DesignTimeBuild
/capitulo08/NotaFiscal/.vs/NotaFiscal/v16
/capitulo08/NotaFiscal/NotaFiscal/obj
/capitulo08/NotaFiscal/NotaFiscal/bin/Debug/netcoreapp3.1
/capitulo08/NotaFiscal/NotaFiscalTest/bin/Debug/netcoreapp3.1
/capitulo08/NotaFiscal/NotaFiscalTest/obj
/capitulo08/NotaFiscal/.vs/NotaFiscal/DesignTimeBuild
/capitulo09/ProcessadorBoleto/.vs/ProcessadorBoleto/v16
/capitulo09/ProcessadorBoleto/ProcessadorBoleto/obj
/capitulo09/ProcessadorBoleto/ProcessadorBoleto/bin/Debug/netcoreapp3.1
/capitulo09/ProcessadorBoleto/ProcessadorBoletoTest/obj
/capitulo09/ProcessadorBoleto/ProcessadorBoletoTest/bin/Debug/netcoreapp3.1
/capitulo09/ProcessadorBoleto/.vs/ProcessadorBoleto/DesignTimeBuild
